@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink {
  50% { border-color: transparent; }
}

.typing-animation-title {
  overflow: hidden; 
  white-space: nowrap; 
  border-right: 3px solid; 
  width: 0; 
  animation: typing 4s steps(40, end) forwards, blink 0.75s step-end infinite;
}

.typing-animation-paragraph {
  overflow: hidden; 
  white-space: nowrap; 
  border-right: 2px solid; 
  width: 0; 
  animation: typing 4s steps(60, end) 1s forwards, blink 0.75s step-end infinite;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s forwards;
}

html {
  scroll-behavior: smooth;
}

.section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.section.visible {
  opacity: 1;
  transform: translateY(0);
}


/* Assuming you're using Tailwind CSS */
.visible {
  opacity: 1;
}

section {
  opacity: 0; /* Initially hidden */
  transition: opacity 0.7s ease-in-out; /* Smooth transition */
}

